# 가상환경 (가장 중요! 용량이 크고 파이썬 엔진이 들어있어 절대 올리면 안 됩니다)
.venv/
venv/
ENV/

# 파이참 설정 파일 (내 컴퓨터 설정이라 올리면 다른 사람과 충돌 납니다)
.idea/

# 파이썬 실행 시 자동으로 생성되는 캐시 파일
__pycache__/
*.py[cod]
*$py.class

# 운영체제 생성 파일 (맥/윈도우 시스템 파일)
.DS_Store
Thumbs.db
# dat 폴더 안의 모든 파일은 무시하되,
dat/*

# .gitkeep 파일만은 예외로 깃허브에 올린다!
!dat/.gitkeep